.top-label,
.side-label {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
}

.top-label {
	grid-area: 1 / 2 / 2 / -1;
	grid-template-rows: 40px;
	grid-template-columns: repeat(10, 40px);
}

.side-label {
	grid-area: 2 / 1 / -2 / 2;
	grid-template-rows: repeat(10, 40px);
	grid-template-columns: 40px;
}
