:root {
	--primary: hsl(195, 79%, 35%);
	--bg: hsl(210deg 5% 95%);
	--main-bg: hsl(0deg 0% 100%);
	--text-color: hsl(0deg 0% 10%);
	--contact-text-color: hsl(0deg 0% 95%);
	--para-color: hsl(210deg 5% 25%);
	--icon-color-light: hsl(60deg 90% 5%);
	--icon-color-dark: hsl(210deg 20% 5%);
	--border-color-light: hsl(0deg 0% 85%);
	--border-color-dark: hsl(0deg 0% 30%);
	--nav-link-bg-color: hsl(0deg 0% 95%);
	--banner-name: hsl(0deg, 0%, 100%);
	--banner-bg: hsl(0deg 0% 100%);
	--card-bg: hsl(0deg 0% 100%);

	/* SHADOWS */
	--shadow-large: hsl(240deg 10% 15% / 0.1);
	--shadow-small: hsl(240deg 10% 15% / 0.2);
	--shadow-medium: hsl(240deg 10% 15% / 0.15);
}

body.dark-theme {
	--primary: hsl(195 50% 25%);
	--bg: hsl(0deg 0% 10%);
	--main-bg: hsl(0deg 0% 12.5%);
	--card-bg: hsl(0deg 0% 15%);
	--banner-bg: hsl(0deg 0% 15%);
	--text-color: hsl(0deg 0% 95%);

	--para-color: hsl(0deg 0% 80%);
	--icon-color-light: hsl(60deg 0% 80%);
	--icon-color-dark: hsl(210deg 20% 80%);
	--border-color-light: hsl(0deg 0% 25%);
	--border-color-dark: hsl(0deg 0% 60%);
	--nav-link-bg-color: hsl(0deg 0% 0% / 0.075);
	--banner-name: hsl(0deg, 0%, 90%);

	/* TODO: SHADOWS */
	--shadow-small: hsl(240deg 10% 0% / 0.3);
	--shadow-medium: hsl(240deg 10% 0% / 0.2);
	--shadow-large: hsl(240deg 10% 0% / 0.1);
}

body.dark-theme img {
	filter: brightness(0.8) contrast(1.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: hsl(195 50% 25%);
		--bg: hsl(0deg 0% 10%);
		--main-bg: hsl(0deg 0% 12.5%);
		--card-bg: hsl(0deg 0% 15%);
		--banner-bg: hsl(0deg 0% 15%);
		--text-color: hsl(0deg 0% 95%);
		--para-color: hsl(0deg 0% 80%);

		--icon-color-light: hsl(60deg 0% 80%);
		--icon-color-dark: hsl(210deg 20% 80%);
		--border-color-light: hsl(0deg 0% 25%);
		--border-color-dark: hsl(0deg 0% 60%);
		--nav-link-bg-color: hsl(0deg 0% 0% / 0.075);
		--banner-name: hsl(0deg, 0%, 90%);

		/* TODO: SHADOWS */
		--shadow-small: hsl(240deg 10% 0% / 0.3);
		--shadow-medium: hsl(240deg 10% 0% / 0.2);
		--shadow-large: hsl(240deg 10% 0% / 0.1);
	}

	body.light-theme {
		--primary: hsl(195, 79%, 35%);
		--bg: hsl(210deg 5% 95%);
		--main-bg: hsl(0deg 0% 100%);
		--text-color: hsl(0deg 0% 10%);
		--para-color: hsl(210deg 5% 25%);
		--icon-color-light: hsl(60deg 90% 5%);
		--icon-color-dark: hsl(210deg 20% 5%);
		--border-color-light: hsl(0deg 0% 85%);
		--border-color-dark: hsl(0deg 0% 30%);
		--nav-link-bg-color: hsl(0deg 0% 95%);
		--banner-name: hsl(0deg, 0%, 100%);
		--banner-bg: hsl(0deg 0% 100%);
		--card-bg: hsl(0deg 0% 100%);

		/* SHADOWS */
		--shadow-large: hsl(240deg 10% 15% / 0.1);
		--shadow-small: hsl(240deg 10% 15% / 0.2);
		--shadow-medium: hsl(240deg 10% 15% / 0.15);
	}
}

html {
	height: 100%;
	/* Make the fixed header not cover part of the target section 
		 while nav links clicked */
	scroll-padding-top: 56px;
}

body {
	min-height: 100%;

	font-family: 'Noto Serif', serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	font-size: 1.8rem;

	display: flex;
	justify-content: center;

	color: var(--text-color);
	background-color: var(--bg);

	/* transition: background-color 3000ms ease, color 3000ms ease; */
}

.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;

	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	font-optical-sizing: auto;
	font-style: normal;

	font-family: 'Gilda Display', serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;

	color: var(--text-color);
}

h2 {
	font-size: 3.6rem;
	font-weight: 500;
}

h3 {
	font-size: 2rem;
	font-weight: 500;
}

p {
	color: var(--para-color);
	font-weight: 400;
}

img {
	height: auto;
}

svg {
	width: 100%;
	height: 100%;
	stroke-width: 1px;
}

.social-links svg {
	color: var(--icon-color-dark);
}

svg.twitter {
	width: 82%;
	height: 82%;
}

#main {
	width: 100%;
	max-width: 1152px;
	background-color: var(--main-bg);

	box-shadow: 4px 4px 4px var(--shadow-medium),
		-4px 4px 4px var(--shadow-medium);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
}

.social-links {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.social-links a {
	display: block;
	height: 24px;
	width: 24px;
	will-change: transform;
	background-color: transparent;
	padding: 0;
}

.social-links a:hover svg,
.social-links a:focus svg {
	color: var(--text-color);
}

.social-links .link-bg {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;
	will-change: transform;
}

.social-links a:hover .link-bg {
	animation: gelatine 500ms ease;
}

@media screen and (min-width: 1025px) {
	h2 {
		font-weight: 500;
		font-size: 4rem;
	}
}

/* Animations */

@keyframes slideIn {
	from {
		visibility: hidden;
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}
	to {
		visibility: hidden;
		opacity: 0;
		transform: translateX(100%);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes hiThere {
	30% {
		transform: scale(1.2);
	}
	40%,
	60% {
		transform: rotate(-20deg) scale(1.2);
	}
	50% {
		transform: rotate(20deg) scale(1.2);
	}
	70% {
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes gelatine {
	from,
	to {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}
