:root {
	--primary: #65a30d;
	--primary-opacity: rgba(101, 163, 13, 0.45);
	--white: #fff;
	--black: #09090b;
	--light-gray-1: #f5f5f4;
	--light-gray-2: rgba(0 0 0 / 0.15);
	--gray: #a1a1aa;
	--dark-gray: rgba(0 0 0 /0.58);
	--ocean-blue: rgb(125, 211, 252, 0.75);
	--ocean-blue-opacity: rgb(125, 211, 252, 0.3);
	--red: #ff0000;
	--red-opacity: rgba(255 0 0 /0.15);
}

html {
	height: 100%;
}

body {
	height: 100%;
	color: var(--black);
}

img {
	height: auto;
}

svg {
	width: 100%;
	height: 100%;
}
