.header {
	position: fixed;
	width: 100%;
	height: 56px;
	background: var(--main-bg);
	top: 0;
	left: 0;
	z-index: 5;

	display: flex;
	align-items: center;
	gap: 16px;

	padding: 0 16px;
	box-shadow: 01px 2px 2px var(--shadow-large);
}

.brand {
	border: none;
	color: var(--text-color);
	text-decoration: none;
	font-weight: 600;
}

.header button {
	width: 22px;
	height: 22px;
	border: none;
	background-color: transparent;

	cursor: pointer;
}

.header button svg {
	color: var(--icon-color-light);
}

.header button .btn-bg {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	will-change: transform;
}

.header button:hover .btn-bg {
	animation: gelatine 500ms ease;
}

.theme-toggle {
	margin-left: auto;
}

/* Navbar */
.nav {
	position: absolute;
	top: 56px;
	left: 0;
	width: calc(100% - 20px - 20px);
	margin: 20px;
	padding: 30px 12px;
	border-radius: 6px;
	background: var(--main-bg);
	box-shadow: 4px 8px 8px var(--shadow-large), 8px 16px 16px var(--shadow-large);

	visibility: hidden;
	opacity: 0;
	transform: translateX(100%);
}

.nav.show {
	animation: slideIn 250ms ease-out forwards;
}

.nav:not(.show) {
	animation: slideOut 250ms ease-in forwards;
}

.nav-links {
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
}

.nav-links .icon {
	width: 22px;
	height: 22px;
	display: inline-block;
	color: var(--icon-color-light);
}

.nav-links li {
	list-style-type: none;
	border-bottom: 1px solid var(--border-color-light);
}

.nav-links li.active,
.nav-links li:hover,
.nav-links li:focus {
	background-color: var(--nav-link-bg-color);
}

.nav-links li a {
	display: flex;
	align-items: center;
	gap: 10px;

	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	color: var(--text-color);
	padding: 12px 20px;
	border-radius: 4px;
}
.nav-links li a span {
	display: block;
}

@media screen and (min-width: 513px) {
	/* Header */
	.theme-toggle {
		margin: 0 10px;
		order: 1;
	}

	.nav {
		position: static;
		width: auto;
		padding: 0;
		margin: 0;
		border-radius: 0;
		visibility: visible;
		transform: translateX(0);
		opacity: 1;
		box-shadow: none;
		margin-left: auto;
	}

	.nav .icon {
		display: none;
	}

	.nav.show,
	.nav:not(.show) {
		animation: none;
	}

	.nav-links {
		flex-direction: row;
		gap: 24px;
	}

	.nav-links li {
		border: none;
		border-bottom: 2px solid;
		border-color: transparent;
		transition: border-bottom 250ms ease;

		position: relative;
	}

	.nav-links li::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--border-color-dark);
		transform: scaleX(0);
		opacity: 0;

		transition: transform 250ms ease, opacity 250ms ease;
	}

	.nav-links li a {
		font-size: 1.8rem;
		font-weight: 400;
		padding: 4px 0;
	}

	.nav-links li:hover,
	.nav-links li:focus,
	.nav-links li.active {
		background-color: transparent;
	}

	.nav-links li:hover::before,
	.nav-links li:focus::before,
	.nav-links li.active::before {
		transform: scaleX(1);
		opacity: 1;
	}

	.menu-toggle {
		display: none;
	}
}
