.ships-for-stats {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.ship-for-stats {
	display: flex;
	align-items: center;
	gap: 1px;
}

.ship-for-stats-component {
	width: 12px;
	height: 12px;
	background-color: var(--light-gray-2);
}

.ship-for-stats.sunk .ship-for-stats-component {
	background-color: var(--red);
}
